* {
  font-family: "San Francisco";
}
ul {
  gap: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  list-style-type: none;
  font-size: 14px;
  color: rgb(52, 52, 52);
}
li:hover {
  color: black;
  cursor: pointer;
}
@media (max-width: 600px) {
  nav > ul {
    flex-direction: column;
  }
  nav > ul {
    text-align: left;
  }
  .icon {
    display: none;
  }
  li {
    font-size: x-large;
    font-weight: 1000;
  }
}
